<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStrumien" />
                <binding name="BasicHttpBinding_IStrumien1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/NazwaBazowa/endpoint1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStrumien"
                contract="ServiceReference1.IStrumien" name="BasicHttpBinding_IStrumien" />
            <endpoint address="http://localhost:8080/NazwaBazowa/endpoint1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStrumien1"
                contract="ServiceReference2.IStrumien" name="BasicHttpBinding_IStrumien1" />
        </client>
    </system.serviceModel>
</configuration>